
.navbr{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 10px;
    width: 100%;
    padding: 10px ;
    color: whitesmoke;
    justify-content: space-around;


}
.nav-links{
    display: flex;
        align-items: center;

}
.nav-links li{
    
    margin: 0 20px;
    color: whitesmoke;      


}
a{
    text-decoration: none;
    color: whitesmoke;
}
.nav-links{     

    list-style: none;
}
header {
width: 100%;
height: 450px;
display: flex;
align-items: center;
background-color: rgb(6 26 52 / 61%);
}
.back-head{
background-image: url(/img/bg-banner.jpg) ;
background-position: top;
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
}
h6{
    width: 600px;
}
.head-content
{margin: 30%;
    color: whitesmoke;
    text-align: center;
}
.head-content h3{
    font-size:5vmin ;
    
}
.ctn{
    padding: 8px 15px;
    background-color: turquoise;
    border-radius: 8px;
    color: whitesmoke;
    text-decoration:none ;
}
.ctn1{padding: 8px 15px;
    background-color: rgba(77, 138, 138, 0.3);
    color: whitesmoke;
    text-decoration:none ;

}@media(max-width: 767px){
    h6{
        width: 400px;

    }
    .head-content{
        margin: 10%;
    }
    .nav-links{
        display: block;
    }
    .nav-links li{
        margin: 14px -45px;
    }
}
    
.line{
    width: 56px;
    height: 3px;
    background: orangered;
    margin: 9px -1px;
    border-radius: 5px;
    left: 0;
 }
 .row{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
     margin-top: 5%;
 }

.row p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
h1{
    margin-top: 20px;
}
table {
    border: 1px solid rgb(233, 225, 225) ;
    margin-top: 10%;
    padding: 0;

     
}
table td{
    background: rgb(80 158 177 / 25%);      
     padding: 10px;
        border: 0px;
}
.col-blu  {
    color: whitesmoke;
    background-color:rgb(29, 201, 201);
    border: 1px;
    margin: 1px;
    padding: 10px;
    width: 33%;
}
.col-blu p{
    color: whitesmoke;
}
.read{
    padding: 8px 15px;
    /* background-color: turquoise; */
    color: whitesmoke;
    text-decoration: none;
    border: 1px solid;
}
label{
    color: #48a7a5;
}
.content{
    display: none;
    cursor: pointer;
}
.circle {
    display: inline-block;
    border: 10px solid;
    border-radius: 50px;
    background-color: #67e3e0;
    color: rgb(111 223 229);
    width: 20px;
    height: 20px;
}
.col2 p{
   margin-left: 60px; 
}
 .circle h1{
    color: snow;
    justify-content: center;
    margin-top: -2px;
}
.row1{
    width: 79%;
    display: flex;
    justify-content: flex-start;
    margin: 40px 118px;
    font-family: monospace;
}
.row1 p,h1{ 
    display: inline-block;
    font-size: 12px;
    margin: 10px;
}
.con-photo{
    display: flex;
    justify-content: space-around;
    margin-left: 107px;
    flex-wrap: wrap;
    width: 80%;
}
.meet{
    margin-left: 107px;
}
.photo{
    border: 1px solid rgb(172, 171, 171);
    height: 300px;
    width: 210px;
}
.photo img{
    margin:0px 5px;
    width: 200px;
    height: auto;
}
@media (max-width: 767px){
.can-photo
{ 
    flex-wrap: wrap;
    width:auto;
}
.row{
    width: 476px;
}
.row1{margin: 0px;}
}
.contain{
    margin-top: 50px;
    background-color: rgb(238, 232, 232);
    width: 100%;
    height: 300px;
    display: flex;
}

.box{position: absolute;
    margin: 20px 20px;
background-color:whitesmoke;
color: gray;
width: 300px;
height: 100px;
padding: 10px;
box-shadow:1px 3px 10px 3px #777;
font: 13px sans-serif;
}
.triangle
{position: absolute;
    width: 0;
    height: 0;
    border: 10px solid whitesmoke;
    border-right: 10px solid transparent;
    border-bottom:10px solid transparent;
    margin: 139px  80px;
}
.img{
    margin: 167px  0px;
    height: 52px;
    width: 50px;
    display: flex;
}
.contain1{
    width: 27%;
    margin-left:50px;
}
.contain2{
    width: 27%;
    margin-top: 56px;
}
.contain p,h1{
    font-family: cursive;
}
@media (max-width: 767px)
{
    .contain
    { height: 732px;
        flex-direction: column;
    }
    .contain1{
       height: 285px;
       margin-left: 0;
    }
    .contain2{
        height: 220px;
    margin-top: 0;

    }
    }
 .black{
height: 250px;
width: 100%;
background-color: rgb(36, 36, 36);
color: whitesmoke;
font-family:sans-serif;
display: flex;
justify-content: space-evenly;
align-items: center;
    }
    span{
        margin-left: 60PX;
        width: 166PX;
        FONT-SIZE: larger;
    }
    .black P{
width: 300PX;
color: gray;
font-size: revert;
    FONT-FAMILY: initial;
} 
.black h1{
    color: rgb(9, 139, 139);
}
.mail{
    display: flex;

}
.contact{
    display: flex;
}
.contact img{
    width: 33px;
    height: 40px;
}
.add{
    display: flex;
    width: 200px;
}
.mobo{
    display: flex;
}
.box2{
   margin-top: 19px;
   
}
input{
    width: 500px;
    margin: 5PX 114PX;
}
textarea{
    width: 500px;
    height: 100px;
   margin:  10PX 114PX;
}
.sent{
    width: 100px;
    height: 30px;
    background-color:rgb(35, 150, 150);
    color: whitesmoke;
    border: none;

}
.box2 h2{
    margin: 5PX 114PX;
}
form{
width: 300px;
}
@media (max-width: 767px)
{
    input, textarea{
        width: 300px;
        margin: 10px 10px;

    }
}
.footer{
    width: 100%;
    height: 200px;
    background-color:teal;
    color: whitesmoke;
    display: flex;
    justify-content: space-around;

}.about{
    width: 23%;
}
.icons{
    list-style: none;
    display: flex;
    margin-left: -40px;
}
.icon{
    margin: 2px;
}